(
    structs: [
        (
            name: "Paddle",
            is_pub: false,
            doc_comment: None,
            attributes: [
                "#[derive(Component)]",
            ],
            fields: [],
            start_position: 2945,
            end_position: 2980,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "Ball",
            is_pub: false,
            doc_comment: None,
            attributes: [
                "#[derive(Component)]",
            ],
            fields: [],
            start_position: 2982,
            end_position: 3015,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "Velocity",
            is_pub: false,
            doc_comment: None,
            attributes: [
                "#[derive(Component, Deref, DerefMut)]",
            ],
            fields: [],
            start_position: 3017,
            end_position: 3077,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "CollisionEvent",
            is_pub: false,
            doc_comment: None,
            attributes: [
                "#[derive(Event, Default)]",
            ],
            fields: [],
            start_position: 3079,
            end_position: 3127,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "Brick",
            is_pub: false,
            doc_comment: None,
            attributes: [
                "#[derive(Component)]",
            ],
            fields: [],
            start_position: 3129,
            end_position: 3163,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "CollisionSound",
            is_pub: false,
            doc_comment: None,
            attributes: [
                "#[derive(Resource, Deref)]",
            ],
            fields: [],
            start_position: 3165,
            end_position: 3235,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "Collider",
            is_pub: false,
            doc_comment: Some("// Default must be implemented to define this as a required component for the Wall component below"),
            attributes: [
                "#[derive(Component, Default)]",
            ],
            fields: [],
            start_position: 3237,
            end_position: 3382,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "Wall",
            is_pub: false,
            doc_comment: Some("// This is a collection of the components that define a \"Wall\" in our game"),
            attributes: [
                "#[derive(Component)]",
                "#[require(Sprite, Transform, Collider)]",
            ],
            fields: [],
            start_position: 3384,
            end_position: 3532,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "Score",
            is_pub: false,
            doc_comment: Some("// This resource tracks the game\'s score"),
            attributes: [
                "#[derive(Resource, Deref, DerefMut)]",
            ],
            fields: [],
            start_position: 5848,
            end_position: 5946,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "ScoreboardUi",
            is_pub: false,
            doc_comment: None,
            attributes: [
                "#[derive(Component)]",
            ],
            fields: [],
            start_position: 5948,
            end_position: 5989,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "DebugSchedule",
            is_pub: false,
            doc_comment: Some("/// being run."),
            attributes: [
                "#[derive(Debug, Hash, PartialEq, Eq, Clone, ScheduleLabel)]",
            ],
            fields: [],
            start_position: 67,
            end_position: 449,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/stepping.rs",
        ),
        (
            name: "SteppingPlugin",
            is_pub: true,
            doc_comment: Some("/// Plugin to add a stepping UI to an example"),
            attributes: [
                "#[derive(Default)]",
            ],
            fields: [
                (
                    name: "schedule_labels",
                    type_name: "Vec<InternedScheduleLabel>",
                    is_pub: false,
                ),
                (
                    name: "top",
                    type_name: "Val",
                    is_pub: false,
                ),
                (
                    name: "left",
                    type_name: "Val",
                    is_pub: false,
                ),
            ],
            start_position: 451,
            end_position: 623,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/stepping.rs",
        ),
        (
            name: "State",
            is_pub: false,
            doc_comment: Some("/// Struct for maintaining stepping state"),
            attributes: [
                "#[derive(Resource, Debug)]",
            ],
            fields: [
                (
                    name: "systems",
                    type_name: "Vec<(InternedScheduleLabel, NodeId, usize)>",
                    is_pub: false,
                ),
                (
                    name: "ui_top",
                    type_name: "Val",
                    is_pub: false,
                ),
                (
                    name: "ui_left",
                    type_name: "Val",
                    is_pub: false,
                ),
            ],
            start_position: 2284,
            end_position: 2539,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/stepping.rs",
        ),
        (
            name: "SteppingUi",
            is_pub: false,
            doc_comment: None,
            attributes: [
                "#[derive(Component)]",
            ],
            fields: [],
            start_position: 2787,
            end_position: 2826,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/stepping.rs",
        ),
    ],
    functions: [
        (
            name: "main",
            parameters: [],
            return_type: None,
            is_pub: false,
            start_position: 1992,
            end_position: 2943,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "position",
            parameters: [],
            return_type: Some("Vec2"),
            is_pub: false,
            start_position: 3756,
            end_position: 4167,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "size",
            parameters: [],
            return_type: Some("Vec2"),
            is_pub: false,
            start_position: 4240,
            end_position: 4821,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "new",
            parameters: [
                ("location", "WallLocation"),
            ],
            return_type: Some("(Wall, Sprite, Transform)"),
            is_pub: false,
            start_position: 5136,
            end_position: 5844,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "setup",
            parameters: [
                ("commands", "Commands"),
            ],
            return_type: None,
            is_pub: false,
            start_position: 6031,
            end_position: 10141,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "move_paddle",
            parameters: [],
            return_type: None,
            is_pub: false,
            start_position: 10143,
            end_position: 11070,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "apply_velocity",
            parameters: [],
            return_type: None,
            is_pub: false,
            start_position: 11072,
            end_position: 11347,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "update_scoreboard",
            parameters: [
                ("writer", "TextUiWriter"),
            ],
            return_type: None,
            is_pub: false,
            start_position: 11349,
            end_position: 11549,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "check_for_collisions",
            parameters: [
                ("commands", "Commands"),
            ],
            return_type: None,
            is_pub: false,
            start_position: 11551,
            end_position: 13691,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "play_collision_sound",
            parameters: [
                ("commands", "Commands"),
            ],
            return_type: None,
            is_pub: false,
            start_position: 13693,
            end_position: 14123,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "ball_collision",
            parameters: [
                ("ball", "BoundingCircle"),
                ("bounding_box", "Aabb2d"),
            ],
            return_type: Some("Option<Collision>"),
            is_pub: false,
            start_position: 14365,
            end_position: 14901,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
        (
            name: "add_schedule",
            parameters: [],
            return_type: Some("SteppingPlugin"),
            is_pub: true,
            start_position: 713,
            end_position: 859,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/stepping.rs",
        ),
        (
            name: "at",
            parameters: [
                ("left", "Val"),
                ("top", "Val"),
            ],
            return_type: Some("SteppingPlugin"),
            is_pub: true,
            start_position: 924,
            end_position: 1031,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/stepping.rs",
        ),
        (
            name: "build",
            parameters: [],
            return_type: None,
            is_pub: false,
            start_position: 1072,
            end_position: 2280,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/stepping.rs",
        ),
        (
            name: "initialized",
            parameters: [],
            return_type: Some("bool"),
            is_pub: false,
            start_position: 2604,
            end_position: 2679,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/stepping.rs",
        ),
        (
            name: "build_ui",
            parameters: [
                ("commands", "Commands"),
            ],
            return_type: None,
            is_pub: false,
            start_position: 3119,
            end_position: 5766,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/stepping.rs",
        ),
        (
            name: "build_stepping_hint",
            parameters: [
                ("commands", "Commands"),
            ],
            return_type: None,
            is_pub: false,
            start_position: 5768,
            end_position: 6495,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/stepping.rs",
        ),
        (
            name: "handle_input",
            parameters: [],
            return_type: None,
            is_pub: false,
            start_position: 6497,
            end_position: 7380,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/stepping.rs",
        ),
        (
            name: "update_ui",
            parameters: [
                ("commands", "Commands"),
                ("writer", "TextUiWriter"),
            ],
            return_type: None,
            is_pub: false,
            start_position: 7382,
            end_position: 8549,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/stepping.rs",
        ),
    ],
    type_aliases: [
        (
            name: "Point",
            aliased_type: "type",
            is_pub: false,
            attributes: [],
            start_position: 351,
            end_position: 373,
            file_path: "/home/brasides/code/rag_workspace/example_traverse_target/src/main.rs",
        ),
    ],
)